* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", serif;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #666;
}

/* Nav */

/* icon */
nav {
    background-color: rgb(255, 255, 255);
    height: 58px;
    width: 100%;
    display: flex;
    border: 1.5px solid cadetblue;
    padding: 23px 0px 30px 0px;
    position: fixed;
    justify-content: center;
}

.navDiv {
    display: flex;
    justify-content: space-between;


}

.iconDiv {

    width: 432px;


}

.icon {
    height: 18px;
    width: 147px;
}


/* Selection */

.selection {
    height: 34px;
    width: 490px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;

}

.selectionItems {
    color: #666;
    text-decoration: none;
    font-size: 16px;
}

.selectionItems:hover {
    color: rgb(104, 123, 211);
}


.Menu {
    color: #4b4b4b;
    font-size: 16px;
}


@media screen and (max-width: 964px) {

    .selection {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

}

.mainDiv {

    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}


.landingImageDiv {
    height: 630px;
    width: 850px;

}


.landingImage {
    height: 410px;
    width: 890px;
    margin-bottom: 40px;

}


.investDiv {
    height: fit-content;
    color: #666;
    font-size: 38px;
    text-align: center;
}

.investDisc {
    height: fit-content;
    color: #666;
    font-size: 16px;
    text-align: center;
    margin: 7px 0px 7px 0px;
}

.signUpDiv {
    height: 37px;
    width: 206px;
    margin-top: 20px;
    justify-self: center;
}

.signUpDivInside {
    height: 33px;
    width: 150px;

    background-color: rgb(42, 125, 169);
    border-radius: 3px;
    align-content: center;
}

.signUpText a {


    font-size: 16px;
    padding-left: 13px;
    font-weight: 500;
    color: #2c2b2b;
}


.mainDiv2 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.Text {
    width: 30%;
    font-size: 14px;
}


.ecosystemImg {
    height: 550px;
    width: 550px;

}


footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(229, 233, 236);
}

.footerDiv {
    display: flex;

}

.footerIconDiv {
    height: 330px;
    width: 230px;
    display: flex;
    flex-direction: column;
}

.footerIcon {

    height: 21px;
    width: 144px;

}

.accountDiv {
    height: 450px;
    width: 230px;
    display: flex;
    flex-direction: column;
}


.footerDisc {
    display: flex;
    padding-left: 85px;
    font-size: 13px;
    color: #2c2b2b;
}